apiVersion: apps/v1
kind: Deployment
metadata:
  name: jscodesandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jscodesandbox
  template:
    metadata:
      labels:
        app: jscodesandbox
    spec:
      securityContext:
        fsGroup: 1654
      imagePullSecrets:
        - name: {{ .Values.jsCodeSandbox.imagePullSecret }}
      containers:
        - name: jscodesandbox
          image: 'registry.gitlab.com/demetrio-marra/jscodesandbox-ci/docker_image:{{ .Values.jsCodeSandbox.tag }}'
          securityContext:
            runAsUser: 1654
          volumeMounts:         
            - name: environments-volume
              mountPath: /opt/JSCodeSandbox/environments
            {{- if .Values.customCa.enabled }}
            - name: custom-ca
              mountPath: {{ .Values.customCa.mountPath }}
              readOnly: true
            {{- end }}
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: '{{ .Values.environment }}'
              
            - name: Logging__LogLevel__Default
              value: {{ .Values.logLevel | quote }}
            
            - name: CodeExecutionEnvironmentsMongoRepository__ConnectionString
              value: {{ .Values.codeExecutionEnvironmentsMongoRepository.connectionString | quote }}
            
            - name: CodeExecutionEnvironmentsMongoRepository__DatabaseName
              value: {{ .Values.codeExecutionEnvironmentsMongoRepository.databaseName | quote }}
            
            - name: CodeExecutionEnvironmentsMongoRepository__CollectionName
              value: {{ .Values.codeExecutionEnvironmentsMongoRepository.collectionName | quote }}
            
            - name: CodeExecutionsAuditMongoRepository__ConnectionString
              value: {{ .Values.codeExecutionsAuditMongoRepository.connectionString | quote }}
            
            - name: CodeExecutionsAuditMongoRepository__DatabaseName
              value: {{ .Values.codeExecutionsAuditMongoRepository.databaseName | quote }}
            
            - name: CodeExecutionsAuditMongoRepository__CollectionName
              value: {{ .Values.codeExecutionsAuditMongoRepository.collectionName | quote }}
            
            - name: SESJSCodeExecutionService__EnvironmentsBasePath
              value: {{ .Values.sesJsCodeExecutionService.environmentsBasePath | quote }}

            {{- if .Values.customCa.enabled }}
            - name: NODE_EXTRA_CA_CERTS
              value: {{ .Values.customCa.mountPath }}/ca.crt
            {{- end }}

          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
      volumes:       
        - name: environments-volume
          persistentVolumeClaim:
            claimName: jscodesandbox-pvc
        {{- if .Values.customCa.enabled }}
        - name: custom-ca
          secret:
            secretName: {{ .Values.customCa.existingSecret }}
        {{- end }}
