apiVersion: apps/v1
kind: Deployment
metadata:
  name: jscodesandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jscodesandbox
  template:
    metadata:
      labels:
        app: jscodesandbox
    spec:
      imagePullSecrets:
        - name: {{ .Values.jsCodeSandbox.imagePullSecret }}
      containers:
        - name: jscodesandbox
          image: 'registry.gitlab.com/demetrio-marra/jscodesandbox-ci/docker_image:{{ .Values.jsCodeSandbox.tag }}'
          volumeMounts:         
            - name: environments-volume
              mountPath: /opt/JSCodeSandbox/environments
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: '{{ .Values.environment }}'
              
            - name: Logging__LogLevel__Default
              value: {{ .Values.logLevel | quote }}
            
            - name: CodeExecutionEnvironmentsMongoRepository__ConnectionString
              value: {{ .Values.codeExecutionEnvironmentsMongoRepository.connectionString | quote }}
            
            - name: CodeExecutionEnvironmentsMongoRepository__DatabaseName
              value: {{ .Values.codeExecutionEnvironmentsMongoRepository.databaseName | quote }}
            
            - name: CodeExecutionEnvironmentsMongoRepository__CollectionName
              value: {{ .Values.codeExecutionEnvironmentsMongoRepository.collectionName | quote }}
            
            - name: CodeExecutionsAuditMongoRepository__ConnectionString
              value: {{ .Values.codeExecutionsAuditMongoRepository.connectionString | quote }}
            
            - name: CodeExecutionsAuditMongoRepository__DatabaseName
              value: {{ .Values.codeExecutionsAuditMongoRepository.databaseName | quote }}
            
            - name: CodeExecutionsAuditMongoRepository__CollectionName
              value: {{ .Values.codeExecutionsAuditMongoRepository.collectionName | quote }}
            
            - name: SESJSCodeExecutionService__EnvironmentsBasePath
              value: {{ .Values.sesJsCodeExecutionService.environmentsBasePath | quote }}

          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
      volumes:       
        - name: environments-volume
          persistentVolumeClaim:
            claimName: jscodesandbox-pvc
